@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;

  --color-primary-400: #34d399;
  --color-primary-500: #10b981;
  --color-primary-600: #059669;

  --color-surface-900: #09090b;
  --color-surface-800: #18181b;
  --color-surface-700: #27272a;
  --color-surface-600: #3f3f46;
}

@layer base {
  body {
    @apply bg-surface-900 text-slate-200 antialiased min-h-screen selection:bg-primary-500/30;
    color-scheme: dark;
    background-image: radial-gradient(circle at 50% -20%, #18181b 0%, #09090b 80%);
    background-attachment: fixed;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-surface-700 rounded-full hover:bg-surface-600 transition-colors;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}